<section class="parent">
	<section class="container category__wrapper">
		<div class="category__text">
			<div class="text__wrapper">
				<h3>{{settings.heading_text}}</h3>
				<p>{{settings.sub_text}}</p>
			</div>
			<a href="/">{{settings.display_more}}</a>
		</div>
		<div class="{{ settings.slider and settings.categories|length > 5 ? 'swiper' : 'imgs__wrapper' }}">
			<div
				class="swiper-wrapper">
				<!-- This is necessary for Swiper -->
				{% for category in settings.categories %}
					<div
						class="swiper-slide">
						<!-- Each slide must have this class -->
						<img src="{{ category.category__img }}" alt="">
					</div>
				{% endfor %}
			</div>
			<!-- Optional prev button -->
		</div>
	</section>
</section>

<style>
	.parent {
		margin: 70px 0;
	}
	.parent .category__text {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	.parent .category__text h3 {
		color: #750E21;
		font-size: 24px;
		line-height: 28.8px;
		font-weight: 700;
	}
	.parent .category__text p {
		color: #7F585F;
		font-size: 16px;
		line-height: 19.2px;
		font-weight: 500;
	}
	@media(max-width:767px) {
		.parent .category__text p {
			font-size: 14px;
		}
	}
	.parent .category__text a {
		color: #E3651D;
		font-size: 14px;
		line-height: 16.8px;
		font-weight: 500;
	}
	.category__wrapper .imgs__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		gap: 25px;
		align-items: center;
		justify-content: center;
	}
	.category__wrapper .imgs__wrapper img {
		width: 206px;
		margin-inline: auto;
		transition: transform 0.5s;
		transform-origin: left top;
	}
	.category__wrapper .imgs__wrapper img:hover {
		transform: scale(1.1);
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
	const swiper = new Swiper('.swiper', {
		slidesPerView: 'auto',
		spaceBetween: 20,
		loop: true,
		breakpoints: {
			480: {
				slidesPerView: 2,
				spaceBetween: 30
			},
			767: {
				slidesPerView: 3,
				spaceBetween: 40
			},
			1024: {
				slidesPerView: 5,
				spaceBetween: 40
			}
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev'
		}
		});
	});
</script>


{% schema %}
{
  "name": {
    "ar": "الفئات",
    "en": "categories"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "categories": {
      "type": "list",
      "noLabel": true,
      "settings_label": {
        "ar": "التصنيف",
        "en": "Picture"
      },
      "settings": {
        "category__title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "category__img": {
          "type": "image",
          "label": {
            "ar": "صوره",
            "en": "img"
          }
        },
        "category": {
          "type": "category",
          "label": {
            "ar": "اختر التصنيف",
            "en": "Select category"
          }
        }
      }
    },
    "display_more": {
      "type": "text",
      "label": {
        "ar": "اظهار المزيد",
        "en": "show more"
      }
    },
    "heading_text": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "tittle text"
      }
    },
    "sub_text": {
      "type": "text",
      "label": {
        "ar": "العنوان فرعي",
        "en": "sub text"
      }
    },
	"slider": {
		"type": "checkbox",
		"label": {
			"ar": "تفعيل السلايدر",
			"en": "slider activation"
		},
		"option": {
			"ar": "اظهار السلايدر",
			"en": "acative slider"
		},
		"noLabel": true,
		"info": {
			"ar": "نص توضيحي",
			"en": "info text"
		}
	}
  }
}
{% endschema %}
