<section class="landing">
	<div class="landing-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="landing-img" src="{{ settings.background_img }}" alt="first img">
			</div>
			<div class="swiper-slide">
				<img class="landing-img" src="{{ settings.background_img2 }}" alt="second img">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="wrapper">
		<h1>{{ settings.heading }}</h1>
		<p>{{ settings.text }}</p>
		<a href="/">{{ settings.button_text }}</a>
	</div>
</section>

<style>
	.landing {
		width: 100%;
		color: white;
		text-align: center;
		position: relative;
	}

	.landing-swiper {
		overflow-x: hidden;
		width: 100%;
		height: 100vh; /* Full viewport height for better mobile display */
	}

	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper-slide .landing-img {
		width: 100%;
		object-fit: cover;
		height: 100vh;
	}

	.landing .wrapper {
		width: 90%;
		max-width: 902px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: white;
	}

	.landing h1 {
		font-size: 42px;
		font-weight: 700;
		line-height: 1.2;
	}

	.landing p {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		margin-top: 20px;
	}

	.landing a {
		margin-top: 17px;
		display: inline-block;
		padding: 12px 50px;
		background-color: #191919;
		color: white;
		font-size: 1.2rem;
		border-radius: 11px;
		text-decoration: none;
	}

	/* Responsive styling for mobile */
	@media(max-width: 767px) {
		.landing .wrapper {
			width: 90%;
			padding: 10px;
		}

		.landing h1 {
			font-size: 24px;
			line-height: 1.3;
		}

		.landing p {
			font-size: 14px;
			line-height: 1.3;
		}

		.landing a {
			padding: 10px 30px;
			font-size: 1rem;
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const landingSwiper = new Swiper('.landing-swiper', {
			slidesPerView: 1,
			spaceBetween: 0,
			loop: true,
			loopedSlides: 2, // Set this to the actual number of slides you have
			autoplay: {
				delay: 5000,
				disableOnInteraction: false
			},
			pagination: {
				el: '.landing-swiper .swiper-pagination',
				clickable: true
			},
			allowTouchMove: true
		});
	});
</script>


{% schema %}
{
  "name": {
    "ar": "الصفحه الرئيسيه",
    "en": "landing page"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "heading": {
      "type": "text",
      "settings_label": {
        "ar": "العنوان",
        "en": "heading"
      }
    },
    "text": {
      "type": "text",
      "label": {
        "ar": "نص السكشن",
        "en": "landingtext"
      }
    },
    "button_text": {
      "type": "text",
      "label": {
        "ar": "نص الزر",
        "en": "button text"
      }
    },
    "background_img": {
      "type": "image",
      "label": {
        "ar": "صوره الخلفيه",
        "en": "background img"
      }
    },
    "background_img2": {
      "type": "image",
      "label": {
        "ar": "2 صوره الخلفيه",
        "en": "background img"
      }
    }
  }
}
{% endschema %}
